*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #CE2829;
    height: 15vh;
    position: relative;
}

.header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.grayArea {

    background-color: #FAF7F2;
    display: flex;
    justify-content: center;
}

.grayContent {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.ugh {

}


/*
Sarı #FDC913
Açık Gri: #5F5F5F
Koyu Gri #292929
Kırmızı #CE2829
Bej: #FAF7F2
*/

.header-text a {
    cursor: pointer;
}

.header-text strong {
    color: red;
}

.pizza-text h2 {
    margin: 40px 0;
}

.price {
    font-weight: bold;
    font-size: 2rem;
}

.pizza-text {
    line-height: 1.5rem;
}

.pizza-text p {
    margin: 40px 0;
}

.form-container {
    width: 25%;
}

.form-content {
    display: flex;
    justify-content: center;
}

.price-data {
    display: flex;
    justify-content: space-between;
}

.price-data span:first-child {
    flex: .65;
}

.pizza-size {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.size {
    grid-area: 1 / 1 / 5 / 2;
}

.hamurSecim {
    grid-area: 1 / 2 / 5 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.checkLabel {
    display: block;
    background-color: red;
    width: 40px;
    height: 40px;
}

#Kabak:checked ~ .checkLabel {
    background-color: chartreuse;
}

#Kabak:checked ~ .checkLabel::after {
    background-color: chartreuse;
}


.order-note textarea {
    width: 100%;
    padding: 10px;
    align-content: center;
}

.form-container hr {
    width: 100%;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.summary-price {
    border: 1px solid black;
    padding: 25px 50px 50px 50px;
    position: relative;
}

.summary-price h2 {
    margin: 0;
}

.summary-price button {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    height: 15%;
}
