.header .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.header {
    background-color: #CE2829;
    height: 20vh;
}

.header-text {
    display: flex;
    width: 25%;
    color: white;
}

.ugh {
    display: flex;
    justify-content: center;
}

.form-container {
    width: 25%;
}

.form-content {
    display: flex;
    justify-content: center;
}

.price-data {
    display: flex;
    justify-content: space-between;
}

.price-data span:first-child {
    flex: .65;
}

.pizza-size {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.size {
    grid-area: 1 / 1 / 5 / 2;
}

.dough {
    grid-area: 1 / 2 / 5 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.checkbox {
    width: 33%;
}

.order-note textarea {
    width: 100%;
    padding: 10px;
    align-content: center;
}

.form-container hr {
    width: 100%;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.summary-price {
    border: 1px solid black;
    padding: 50px;
}