
* {
    margin: 0;
    padding: 0;
}

.lblMobile {
    display: none;
}

.image img {
    width: 100%;
}


.header {
    background-color: #CE2829;
    height: 15vh;
    position: relative;
    z-index: 2;
}

.header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.grayArea {
    transform:translateY(-10%);
    background-color: #FAF7F2;
    display: flex;
    justify-content: center;
}

.grayContent {
    width: 27%;
    display: flex;
    flex-direction: column;
}


/*
Sarı #FDC913
Açık Gri: #5F5F5F
Koyu Gri #292929
Kırmızı #CE2829
Bej: #FAF7F2
*/

.header-text a {
    cursor: pointer;
}

.header-text strong {
    color: red;
}

.pizza-text h2 {
    margin: 40px 0;
}

.price {
    font-weight: bold;
    font-size: 2rem;
}

.pizza-text {
    line-height: 1.5rem;
}

.pizza-text p {
    margin: 40px 0;
}

.form-container {
    width: 27%;
}

.form-content {
    display: flex;
    justify-content: center;
}

.price-data {
    display: flex;
    justify-content: space-between;
}

.price-data span:first-child {
    flex: .65;
}

.pizza-size {
    display: flex;
    margin: 50px 0;
}

.sizeContainer {
    display: flex;
    margin: 20px 0;
    gap: 20px;
}

.size {
    width: 50%;
}


.hamurSecim {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#ekMalzemeler {
    margin: 20px 0;
}


.red {
    color: red;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
    width: 32%;
    font-size: 0.9rem;
    gap: 10px;
}


.order-note h2 {
    margin: 30px 0;
}

.form-container hr {
    margin: 30px 0;
    width: 100%;
}


.topSummary p {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.topSummary p:nth-child(2) {
    color: red;
}

.topSummary {
    line-height: 3rem;
    border: 1px solid #d1d1d1;
    padding: 30px 50px 30px 50px;
    border-radius: 10px;
    background-color: #FAF7F2;
}

.topSummary h2 {
    margin: 0;
}


.numberInc {
    display: flex;
}

.numberInc input {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid gray;
}

.numberInc span {
    width: 50px;
    height: 50px;
    background-color: #fdc913;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'Calibri', sans-serif;
    font-weight: 400;
}

.numberInc span:first-child {
    border-radius: 10px 0 0 10px;
}

.numberInc span:nth-child(3) {
    border-radius: 0 10px 10px 0;
}

.error {
    color: red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 20px;
    margin-bottom: 50px;
}

.topSummary {
    grid-area: 1 / 2 / 5 / 6;
}

.numberInc {
    grid-area: 1 / 1 / 2 / 2;
}

.order-button {
    grid-area: 5 / 2 / 6 / 6;
    width: 100%;
    padding: 15px 20px;
    background: #fbc813;
    border: none;
    font-size: 1.1rem;
    border-radius: 10px;
}


@media (max-width: 450px) {
    .image {
        display: none;
    }

    Footer {
        display: none;
    }

    .ugh {
        width: 100%;
        color: white;
        position: relative;
        background-color: #CE2829;
        overflow: hidden;
        border: 5px solid #CE2829;
        box-sizing: border-box;
        z-index: 1;
    }

    .header {
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        border: 5px solid #CE2829;
        z-index: 2;
    }


    .ugh strong {
        color: white;
    }

    .header-text {
        padding-left: 10px;
    }

    .grayArea {
        width: 100%;
        background-color: white;
        transform:translateY(0);
    }

    .grayContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header img {
        width: 80%;
    }

    .header {
        width: 100%;
    }

    .orderFormSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pizza-text {
        text-align: left;
        width: 80%;
    }

    .checkboxes {
        display: flex;
        justify-content: center;
    }

    .form-container {
        width: 100%;
    }

    .sizeContainer {
        display: flex;
        flex-direction: column;
    }


    select {
        margin: 1rem 0;
    }

    .checkboxInput {
        display: block;
    }

    .checkbox {
        width: 47%;
    }


    .order-note h2 {
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .order-note textarea {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        margin: 20px 0;
    }

    form {
        display: flex;
        justify-content: center;
    }

    .form-content {

        width: 80%;
    }

    .summary {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 20px;

    }

    .numberInc input {
        height: 48px;
    }

    .topSummary {
        background-color: white;
        border-radius: 4px;
        grid-area: 1 / 1 / 4 / 3;
    }

    .numberInc {
        grid-area: 4 / 1 / 5 / 2;
    }

    .order-button {
        grid-area: 4 / 2 / 5 / 3;
    }

    .lblMobile {
        display: flex;
        margin-left: 10px;
    }

    .lblRadio {
        display: none;
    }

    .radioDiv {
        display: flex;
    }

}

@media (min-width: 450px) {


    .checkLabel {
        background-color: #FAF7F2;
        width: 40px;
        height: 40px;
        justify-content: center;
        border: none;
        align-items: center;
        display: flex;
        border-radius: 10px;
    }

    input[type="checkbox"]:checked + .checkLabel {
        background-color: #FDC913;
    }

    input[type="checkbox"]:checked + .checkLabel::after {
        font-family: 'Barlow';
        content: "✔";
        font-weight: 200;
        font-size: 1.1rem;
    }


    .radioDiv .lblRadio {
        width: 50px;
        height: 50px;
        background-color: #FAF7F2;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }


    .radioDiv label:hover {
        background-color: #fcfaf7;
    }

    /*.radioDiv input[type="radio"] {*/
    /*    appearance: none;*/
    /*    -webkit-appearance: none;*/
    /*}*/
    .checkboxInput,
    .radioDiv input[type="radio"] {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        border: 0;
        white-space: nowrap;
    }


    .radioDiv input[type="radio"]:checked ~ .lblRadio {
        background-color: #fdeccb;
    }


    .hamurSecim select {
        width: 100%;
        margin: 30px 0;
        padding: 15px;
        /*background-color: #FAF7F2;*/
        background: #FAF7F2 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25L12 15.75 4.5 8.25'/></svg>") no-repeat right 0.75rem center;
        border: none;
        background-size: 0.8rem;
        border-radius: 5px;
    }

    .order-note textarea {
        width: 100%;
        padding: 10px;
        align-content: center;
        background-color: #FAF7F2;
        border-radius: 15px;
        border: none;
        font-weight: 600;
        resize: none;
        margin-bottom: 30px;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 0.5rem 10rem 0.5rem 1rem;
        background: white url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 0.75rem center;
        background-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="checkbox"]:focus + .checkLabel {
        outline: 1px solid gray;
    }

    input[type="radio"]:focus + .lblRadio {
        outline: 1px solid gray;
    }

}